/*
 * This CSS file follows the default Shareabouts style.css.
 * All rules herein will override the default Shareabouts styles.
 * NOTE: "With great power comes great responsibility."
 */

/* =Base Typography
-------------------------------------------------------------- */

body, select, input, textarea {
  color: #000;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Orbitron', sans-serif;
}


/* =Links
-------------------------------------------------------------- */

a, a:active, a:visited {
  color: #518021;
}
a:hover {
  color: #40661b;
}


/* =The Site Header
-------------------------------------------------------------- */

#site-header {
  color: #000;
  background-color: #ccff99;
}

#site-header a, #site-header a:active, #site-header a:visited {
  color: #518021;
}

#site-header a:hover {
  color: #40661b;
}


/* =Logo
-------------------------------------------------------------- */

/* NOTE: Adjust the #site-title font size in the link
 * (not in the #site-title itself) using the em unit,
 * as to not break it scaling via media queries. */

#site-title {
  font-family: 'Orbitron', sans-serif;
  font-weight: 900;
  font-size: 1em;
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0.5em 0;
}
#site-title a:link,
#site-title a:visited {
  text-shadow: none;
  font-size: 1em !important;
  color: #000;
  display: block;
  height: 100%;
}
#site-title a:hover {}

#site-logo {
  height: 100%;
  width: auto;
  margin-right: 0.5em;
}
#site-name {
  display: none;
}


/* =Mobile Navigation Button
-------------------------------------------------------------- */

a#nav-bttn:link,
a#nav-bttn:visited {
  display: none !important;
}


/* =Pages Menu
-------------------------------------------------------------- */

.access {
  display: block;
  width: auto;
  margin: 0.5em 0 0;
  border: 0;
  background: transparent;
  text-align: left;
  float: left;
  position: relative;
  z-index: 50;
  font-size: 1.25em;
}
.access li {
  position: relative;
  border-bottom: 0;
  font-size: 1em;
}
.access a:link,
.access a:visited {
  float: left;
  line-height: 2.5em;
  padding: 0 0.5em;
  text-decoration: none;
  background: transparent;
  color: #518021 !important;
}
.access a:hover {
  background: transparent;
  color: #40661b !important;
}


/* =User Menu
-------------------------------------------------------------- */

.user-menu {}
.header-avatar {
  float: right;
  height: 3em;
  width: 3em;
  margin: -0.5em 0 0 0.5em;
}
.current-user {
  white-space: nowrap;
}
a.logout-btn {
  display: block;
  font-size: 0.85em;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
.sign-in-prompt {
  display: block;
  font-size: 0.85em;
  text-transform: uppercase;
  margin: -0.5em 0 0.25em;
  text-align: center;
}
.sign-in-menu-item {
  float: left;
  font-weight: bold;
  margin-left: 0.5em;
}
.auth {
  text-decoration: none;
  display: block;
  padding: 0.25em 0.5em;
}
a.twitter-btn {
  background-color: #4099FF;
  color: #fff !important;
}
a.facebook-btn {
  background-color: #3b5998;
  color: #fff !important;
}


/* =The Big Button to Add A New Point
-------------------------------------------------------------- */

a.add-place {
/*  background-color: #ffcf40;*/
  background-color: #ccff99;
  color: #000;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
a.add-place:hover {
/*  background-color: #ffdf80;*/
  color: #000;
}


/* =Close Content Button
-------------------------------------------------------------- */

a.close-bttn {
  color: #ff5e99;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  top: 0;
  left: 0;
  margin: -0.75em 0 0 -0.625em;
  padding: 0.75em;
  line-height: 2;
  display: inline-block;
  z-index: 2;
}
a.close-bttn:hover {
  color: #dd3c77;
}
a.close-bttn span {
  font-size: 85%;
  font-weight: normal;
  text-transform: uppercase;
  margin-left: 0.375em;
}


/* =Forms
-------------------------------------------------------------- */

label {
  color: #000;
}
.place-form label {}
#place-item-name:after,
.survey-field-submitter_name:after {
  content: "When would you use this?";
  display: block;
  font-weight: 900;
  position: relative;
  top: 1.2em;
}
.survey-field-submitter_name:after {
  margin-bottom: 1.2em;
}
#place-item-early,
#place-item-midday,
#place-item-evening,
#place-item-late,
.survey-field-early,
.survey-field-midday,
.survey-field-evening,
.survey-field-late {
  float: left;
  margin: 0 0.25em 0.25em 0 !important;
  background: #ddd;
  padding: 0.25em 0.5em 0.25em 0.5em;
  text-transform: uppercase;
  border-radius: 4px;
}
#place-item-early label,
#place-item-midday label,
#place-item-evening label,
#place-item-late label,
.survey-field-early label,
.survey-field-midday label,
.survey-field-evening label,
.survey-field-late label {
  display: inline;
  color: #555;
  font-weight: 900;
  font-size: 0.85em;
  white-space: nowrap;
}
#place-item-early input,
#place-item-midday input,
#place-item-evening input,
#place-item-late input,
.survey-widgets-early,
.survey-widgets-midday,
.survey-widgets-evening,
.survey-widgets-late {
  display: inline;
  position: relative;
  top: -0.325em;
}

#place-item-submitter_name {
  clear: left;
  padding-top: 1.2em;
}

input[type=text],
textarea {
  border: 1px solid #8d8d8d; 
}

.required {}

.bttn {
  color: #000;
  background-color: #ffcf40;
  text-shadow: none;
  font-family: 'Orbitron', sans-serif;
  padding-bottom: 0.5em;
  text-transform: uppercase;
  font-weight: 900;
}
.bttn:hover {
  color: #000;
}

a.reply-link {
  color: #fff;
  background: #518021;
}

a.reply-link:hover {
  color: #000;
  background-color: #ffcf40;
}


/* =Voting & Social Promotion
-------------------------------------------------------------- */

.promotion {
  background: #fff;
  float: right;
  margin: 0 0 0.75em 0.75em;
  padding: 42px 0 0;
  position: relative;
}

/* Social Links */
.social {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 84px;
}
.sharing {
  margin: 0;
}
.share-link {
  margin-left: 10px;
}
.share-link a {
}
.share-twitter a {
}
.share-facebook a {
}

#user_support {
  position: relative;
  float: none;
  background: #404040;
  padding: 15px 10px;
  text-align: center;
  border-radius: 4px;
}
#user_support label {
  padding: 0 0 44px 0;
  line-height: 1.2;
  background: transparent url(images/tick-large-no.png) center bottom no-repeat scroll;
  font-family: 'Orbitron', sans-serif;
  font-weight: normal;
  color: #ccff99;
  box-shadow: none;
  border-radius: 0;
  white-space: nowrap;
}
#user_support:hover label {
  color: #fff;
}

#user_support input[type=checkbox] {
  cursor: pointer;
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -ms-filter: "alpha(opacity=0)";
  zoom: 1;
}
#user_support input[type=checkbox]:checked ~ label {
  background-image: url(images/tick-large.png);
}
.support-count {
  color: #ffcf40;
  display: block;
  font-size: 2.25em;
  font-weight: 900;
}


/* =Place Detail & Surveys
-------------------------------------------------------------- */

.submission-confirmation {
  background-color: #e5ffcc;
  padding: 1em ;
  margin: 0 0 1em;
}
.submission-confirmation p {
  margin-bottom: 0 !important;
  font-size: 0.85em;
}
.submission-confirmation strong {
  display: block;
  font-size: 1.5em;
}

.place-header {
}

.place-submission-details {
  color: #7f7f7f;
  padding-left: 3.75em;
}
.point-submitter .avatar {
  width: 3.25em;
  height: 3.25em;
  float: left;
  margin-left: -3.75em;
}

.response-date {
  display: block;
  text-transform: uppercase;
  color: #bfbfbf;
  font-size: 0.85em;
}

.place-items {
  font-weight: 900;
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid #ddd; 
}
.place-item, .place-value,
.response-item-early,
.response-item-midday,
.response-item-evening,
.response-item-late {
  display: inline;
}
.place-value,
.response-value-early,
.response-value-midday,
.response-value-evening,
.response-value-late {
  background: #ddd;
  color: #555;
  padding: 0.25em 0.625em 0.25em 0.625em;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 900;
  font-size: 0.85em;
  white-space: nowrap;
}
.response-value-early,
.response-value-midday,
.response-value-evening,
.response-value-late {
  display: inline; 
}

.survey-header {
  border-bottom: 0;
  margin: 0;
  padding: 0 0 1.5em 0;
}

.responses .response {
  position: relative;
  padding-bottom: 40px;
  margin-bottom: 1em;
}
.response-header {
  padding-left: 3.75em;
  margin: 0 0 0 1em;
  color: #7f7f7f;
  position: absolute;
  bottom: 0;
  left: 0;
}
.response-submitter .avatar {
  width: 3.25em;
  height: 3.25em;
  float: left;
  margin-left: -3.75em;
}
.response-body {
  margin: 0 0 1em;
  padding: 1em;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ddd;
  border-bottom: 0;
  border-left: 1px solid #ddd;
  background: #eee;
  border-radius: 1em;
  position: relative;
}
.balloon-tail {
  height: 0;
  width: 0;
  border: 1em solid transparent;
  border-top-color: #eee;
  position: absolute;
  top: 100%;
  left: 20px;
}
.response-label-comment {
  display: none;
}
.response-value-comment {
  font-size: 1.15em;
  margin-bottom: 0.5em !important;
}


/* =The Ticker
-------------------------------------------------------------- */

#ticker {
  background-color: #e5ffcc;
}

ul.recent-points {
  color: #000;
}

.recent-points li {
  border-bottom: 1px solid #acbf99;
}
.recent-points li:hover {
  background: #fff;
}

.recent-points a {
  color: #000;
}
.recent-points li:hover a,
.recent-points a:hover {
  color: #000;
}

.place-name {
  font-style: italic;
}


/* =Media Queries
-------------------------------------------------------------- */

@media only screen and (min-width: 768px) { /* menu is visible */
  #site-logo {
    float: left;
  }
  #site-name {
    display: inline;
    font-size: 1.5em;
    line-height: 2.5;
    margin-right: 0.5em;
  }
  .access {
    margin-top: 0.75em;
  }
  .promotion {
    border: 0;
  }

  a.close-bttn {
    text-indent: 0 !important;
    float: none !important;
    height: auto !important;
    width: auto !important;
    position: relative !important;
    z-index: 5;
    top: 0 !important;
    right: 0 !important;
    margin-right: 0 !important;
    border-radius: 0 !important;
    line-height: 1.25;
    overflow: hidden;
    box-shadow: none;
  }
  a.close-bttn:before,
  a.close-bttn:after {
    display: none !important;
  }
  a.close-bttn:hover:before, a.close-bttn:hover:after {}
  a.close-bttn {
    -webkit-transform:rotate(0deg); /* Safari and Chrome */
       -moz-transform:rotate(0deg); /* Firefox */
        -ms-transform:rotate(0deg); /* IE 9 */
         -o-transform:rotate(0deg); /* Opera */
           transform: rotate(0deg);
  }
}

@media only screen and (min-width: 1024px) { /* ticker is visible */
  #site-name {
    font-size: 1.75em;
    line-height: 3;
  }
  .access {
    margin-top: 1.25em;
  }
  .user-menu {
    margin-top: 0.5em;
  }
  .header-avatar {
    float: right;
    height: 4em;
    width: 4em;
    margin-top: -0.75em;
  }
  .current-user {
    font-size: 1.25em;
  }
  a.logout-btn {
    margin-top: 0.25em;
  }
  .sign-in-prompt,
  .sign-in-menu {
    margin-right: 1em;
  }
  .submission-confirmation {
    margin: -2em -2em 1em -2em;
    margin-bottom: 2em;
  }
}

@media only screen and (min-width: 1300px) {
  #site-name {
    font-size: 2em;
    line-height: 3;
  }
  .access {
    margin-top: 1.5em;
  }
  .user-menu {
    margin-top: 0;
  }
}