/*
 * This CSS file follows the default Shareabouts style.css.
 * All rules herein will override the default Shareabouts styles.
 * NOTE: "With great power comes great responsibility."
 */

/* =Base Typography
-------------------------------------------------------------- */

body, select, input, textarea {
  color: #000;
}


/* =Links
-------------------------------------------------------------- */

a, a:active, a:visited {
  color: #518021;
}
a:hover {
  color: #40661b;
}


/* =The Site Header
-------------------------------------------------------------- */

#site-header {
  color: #000;
  background-color: #ccff99;
  overflow: hidden;
}

#site-header a, #site-header a:active, #site-header a:visited {
  color: #fff;
}

#site-header a:hover {
   color: #fff; 
}


/* =Logo
-------------------------------------------------------------- */

/* NOTE: Adjust the #site-title font size in the link
 * (not in the #site-title itself) using the em unit,
 * as to not break it scaling via media queries. */

#site-title {
  font-family: 'Orbitron', sans-serif;
  font-weight: 900;
}
#site-title a:link,
#site-title a:visited {
  text-shadow: none;
  font-size: 0.5em;
  color: #000;
}
#site-title a:hover {}

#site-logo {
  height: 2em;
  width: auto;
  position: relative;
  top: 0.5em;
  margin-right: 0.5em;
}


/* =Mobile Navigation Button
-------------------------------------------------------------- */

a#nav-bttn:link,
a#nav-bttn:visited {
  color: #fff;
  background: #99bf73;
}
a#nav-bttn:hover {}


/* =Navigation Menu
-------------------------------------------------------------- */

.access {
  border: 1em solid #ccff99;
  border-top: 0.5em solid #ccff99;
  background: #ccff99;
}
.access li {
  border-bottom: 2px solid #ccff99;
}
.access a:hover {
  background: #99bf73;
}
.access a:visited, .access a:active, .access a:link {
  background: #99bf73;
}


/* =The Big Button to Add A New Point
-------------------------------------------------------------- */

a.add-place {
/*  background-color: #ffcf40;*/
  background-color: #ccff99;
  color: #000;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
a.add-place:hover {
/*  background-color: #ffdf80;*/
  color: #000;
}


/* =Close Content Button
-------------------------------------------------------------- */

a.close-bttn {}
a.close-bttn:hover {}
a.close-bttn span {}


/* =Forms
-------------------------------------------------------------- */

label {
  color: #000;
}

input[type=text],
textarea {
  border: 1px solid #8d8d8d; 
}

.required {}

.bttn {
  color: #000;
  background-color: #ffcf40;
  text-shadow: none;
  font-family: 'Orbitron', sans-serif;
  padding-bottom: 0.5em;
  text-transform: uppercase;
  font-weight: 900;
}
.bttn:hover {
  color: #000;
}

a.reply-link {
/*  color: #1e5395;*/
/*  background: #eef8fd;*/
}

a.reply-link:hover {
  color: #000;
  background-color: #ffcf40;
}


/* =Voting & Social Promotion
-------------------------------------------------------------- */

.promotion {
  background: #fff;
  float: right;
  margin: -42px 0 0.75em 0.75em;
  padding: 42px 0 0;
  position: relative;
}

/* Social Links */
.social {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 84px;
}
.sharing {
  margin: 0;
}
.share-link {
  margin-left: 10px;
}
.share-link a {
}
.share-twitter a {
}
.share-facebook a {
}

#user_support {
  position: relative;
  float: none;
  background: #404040;
  padding: 15px 10px;
  text-align: center;
  border-radius: 4px;
}
#user_support label {
  padding: 0 0 44px 0;
  line-height: 1.2;
  background: transparent url(images/tick-large-no.png) center bottom no-repeat scroll;
  font-family: 'Orbitron', sans-serif;
  font-weight: normal;
  color: #ccff99;
  box-shadow: none;
  border-radius: 0;
  white-space: nowrap;
}
#user_support:hover label {
  color: #fff;
}

#user_support input[type=checkbox] {
  cursor: pointer;
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -ms-filter: "alpha(opacity=0)";
  zoom: 1;
}
#user_support input[type=checkbox]:checked ~ label {
  background-image: url(images/tick-large.png);
}
.support-count {
  color: #ffcf40;
  display: block;
  font-size: 2.25em;
}


/* =The Ticker
-------------------------------------------------------------- */

#ticker {
  background-color: #e5ffcc;
}

ul.recent-points {
  color: #000;
}

.recent-points li {
  border-bottom: 1px solid #acbf99;
}
.recent-points li:hover {
  background: #fff;
}

.recent-points a {
  color: #000;
}
.recent-points li:hover a,
.recent-points a:hover {
  color: #000;
}


/* =Media Queries
-------------------------------------------------------------- */

@media only screen and (min-width: 768px) { /* menu is visible */
  .access {
    border: 0;
    background: transparent;
  }
  .access li {
    border-bottom: 0;
  }
  .promotion {
    margin-top: 0;
    border: 0;
  }
}

@media only screen and (min-width: 1024px) { /* ticker is visible */
}

@media only screen and (min-width: 1300px) {
}